html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="../styles/css/index.css")
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9")
    header
        .nav-header
            a(href='/').nav-home ANNAËLLE SAGOT
            a(href='/').nav-projects PROJECTS
            a(href='/').nav-contact CONTACT ME
    body
        .personal-info
            .description
                .about-me
                    h1#about-me-title
                    #about-me-content
                .goals
                    .goals-title-container
                        h2.goals-title MY AMBITIONS
                    .goals-content
                        .goals-company.goal
                            img(src='../assets/gaming-icon.png').goals-company-img
                            .goals-company-text EXPLORE THE GAMING INDUSTRY
                        .goals-skills.goal
                            img(src='../assets/dev-icon.png').goals-skills-img
                            .goals-skills-text BECOME A FULL-STACK WEB DEVELOPER
            .summary
                .profile-picture
                .full-name Annaëlle Sagot
                .age 5 March 1997 | 21 years old
                .email sagot.annaelle@gmail.com

        .formation.title-full-width
            .formation-title-container.title-container-full-width
                h2.formation-title.title-text-full-width FORMATION
            .flex-formation.flex-container
                .formation-xp
                    h3.xp-title 2018
                    .xp-content Engineering Degree as 'Software Engineering Responsible'
                    .xp-place CESI, Mont Saint-Aignan
                .formation-xp
                    h3.xp-title 2016
                    .xp-content Technical Degree in IT (French BTS 'SIO') - Speciality in Development
                    .xp-place Flaubert Highschool, Rouen
                .formation-xp
                    h3.xp-title 2014
                    .xp-content Scientific French High School Degree (Bac S) - Speciality in Mathematics - English European Mention
                    .xp-place Les Bruyères Highschool, Sotteville-lès-Rouen

        .experience.title-full-width
            .experience-title-container.title-container-full-width
                h2.experience-title.title-text-full-width PROFESIONNAL EXPERIENCE
            .flex-experience.flex-container
                .experience-item
                    h3 Since October 2016
                    .item-content Web Engineer (Intern) - Blizzard Entertainment - Versailles
                    .item-skills Front-End & Back-End Web Development (Pug, Sass, JavaScript, NodeJS, MySQL), Database and Servers Administration, eCRM, Project Management
                .experience-item
                    h3 January 2016 - February 2016
                    .item-content Internship as Web Developer - BeeTree - Petit-Quevilly
                    .item-skills Front-End & Back-End Development (HTML, CSS, PHP, MySQL), Project Management
                .experience-item
                    h3 May 2015 - June 2015
                    .item-content Internship as Web Developer - Departmental Council of Seine-Maritime - Rouen
                    .item-skills Update of the company's application (ASP.NET, SQL, Microsoft Server), many Sharepoint & Excel projects

        .skills.title-full-width
            .skills-title-container.title-container-full-width
                h2.skills-title.title-text-full-width SKILLS
            .flex-skills.flex-container
                .core-skills
                    h5.label.label-mobile Labels : 0% < Beginner < 30% < Average < 60% < Advanced < 90% < Expert
                    h3 CORE SKILLS
                    .flex-container.flex-skill-item
                        .skill 
                            h5 HTML5 / PUG
                            .progress
                                .progress-bar.progress-100
                                    p 100%
                        .skill
                            h5 CSS3 / SASS
                            .progress
                                .progress-bar.progress-95
                                    p 95%
                        .skill
                            h5 JavaScript
                            .progress
                                .progress-bar.progress-80
                                    p 80%
                        .skill
                            h5 NodeJS / Express
                            .progress
                                .progress-bar.progress-60
                                    p 60%
                        .skill
                            h5 SQL
                            .progress
                                .progress-bar.progress-50
                                    p 50%
                        .skill 
                            h5 C#
                            .progress
                                .progress-bar.progress-50
                                    p 50%
                        .skill
                            h5 PHP
                            .progress
                                .progress-bar.progress-30
                                    p 30%
                    h5.label.label-desktop Labels : 0% < Beginner < 30% < Average < 60% < Advanced < 90% < Expert


                .flex-container.flex-skill-item.added-skills                
                    .additionnal-skills
                        h3 ADDITIONAL SKILLS
                        .flex-container.flex-skill-item
                            .skill 
                                h5 Docker
                                .progress
                                    .progress-bar.progress-50
                                        p 50%
                            .skill
                                h5 SharePoint
                                .progress
                                    .progress-bar.progress-50
                                        p 50%
                            .skill
                                h5 Office Suite
                                .progress
                                    .progress-bar.progress-80
                                        p 80%

                    .languages-skills
                        h3 LANGUAGES SPOKEN
                        .flex-container.flex-skill-item
                            .skill 
                                h5 French
                                .progress
                                    .progress-bar.progress-100
                                        p 100%
                            .skill
                                h5 English
                                .progress
                                    .progress-bar.progress-98
                                        p 98%
                            .skill
                                h5 German
                                .progress
                                    .progress-bar.progress-20
                                        p 20%

        .hobbies-causes.title-full-width
            .hobbies-title-container.title-container-full-width
                h2.hobbies-title.title-text-full-width HOBBIES & CAUSES THAT MATTER TO ME
            .flex-hobbies.flex-container
                .videogames.hobby
                    img(src='../assets/videogame.png').vg-img
                    .hobby-title VIDEO GAMES
                .music.hobby
                    img(src='../assets/music.png').music-img
                    .hobby-title MUSIC
                .cinema.hobby
                    img(src='../assets/cinema.png').cinema-img
                    .hobby-title CINEMA
                .astronomy.hobby
                    img(src='../assets/astronomy.png').astro-img
                    .hobby-title ASTRONOMY
                .animals.hobby
                    img(src='../assets/animal.png').animal-img
                    .hobby-title ANIMAL RIGHTS
                .environment.hobby
                    img(src='../assets/environment.png').env-img
                    .hobby-title ENVIRONMENT
                .human-right.hobby
                    img(src='../assets/human-right.png').human-img
                    .hobby-title HUMAN RIGHTS
    script(src="../scripts/index.js")
