//768
body {
    font-family: Calibri;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(grey, black);
    line-height: 1.5;

    .personal-info {
        margin: 0 auto;
        width: 80%;
        text-align: center;

        .goals {
            display: none;
        }

        @media (min-width: 768px) {
            margin-top: 6%;
            display: flex;
            justify-content: space-evenly;

            .goals {
                display: block;
            }
        }


        .goals-title-container {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;
            &:before {
                content: '';
                height: 1px;
                background-color: grey;
                width: 40%;
                margin-right: 10px;
            }
            &:after {
                content: '';
                height: 1px;
                background-color: grey;
                width: 40%;
                margin-left: 10px;
            }
            .goals-title {
                width: 20%;
                font-size: 22px;
                font-weight: bold;
            }
        }

        .description {
            display: block;
            width: 100%;

            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 40%;
            }

            #about-me-title {
                &:after {
                    content: "";
                    display: inline-block;
                    height: 1em;
                    width: 3px;
                    background-color: #333333;
                    margin-left: 2px;
                    font-weight: normal;
                    position: relative;
                    top: 4px;
                    -webkit-animation: blinker steps(1) 1s infinite;
                    -o-animation: blinker steps(1) 1s infinite;
                    -moz-animation: blinker steps(1) 1s infinite;
                    animation: blinker steps(1) 1s infinite;
                }

                @-webkit-keyframes blinker {  
                    0% { visibility: visible; }
                    50% { visibility: hidden; }
                    100% { visibility: visible; }
                }

                @-moz-keyframes blinker {  
                    0% { visibility: visible; }
                    50% { visibility: hidden; }
                    100% { visibility: visible; }
                }

                @-o-keyframes blinker {  
                    0% { visibility: visible; }
                    50% { visibility: hidden; }
                    100% { visibility: visible; }
                }

                @keyframes blinker {  
                    0% { visibility: visible; }
                    50% { visibility: hidden; }
                    100% { visibility: visible; }
                }
            }

            .goals {
                text-align: center;
                margin-top: 20px;

                img {
                    width: 73.5px;
                    height: 73.5px
                }

                .goals-content {
                    display: flex;
                }

                .goal {
                    width: 50%;
                }
            }

        }

        .summary {
            text-align: center;
            margin-top: 4%;

            .profile-picture {
                margin: 0 auto;
                background-image: url(../../assets/profile-pic.jpg);
                border-radius: 50%;
                width: 210px;
                height: 195px;
                background-size: cover;
                background-position-y: 28%;
                margin-bottom: 20px;
            }
            .full-name {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

    .title-full-width {
        .title-container-full-width {
            width: 100%;
            text-align: center;

            @media (min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 60px;
            }

            &:before {
                content: '';
                height: 1px;
                background-color: grey;
                width: 25%;
                margin-right: 10px;
            }
            &:after {
                content: '';
                height: 1px;
                background-color: grey;
                width: 25%;
                margin-left: 10px;
            }

            .title-text-full-width {
                font-size: 26px;
                font-weight: bold;
                text-align: center;

                @media (min-width: 768px) {
                    width: 24%;
                }
            }
        }

        .flex-hobbies {
            img {
                width: 65px;
                height: 65px;
            }

            .hobby-title {
                margin-top: 5px;
            }
        }
    }

    .formation {
        .flex-formation {
            .formation-xp {
                @media (min-width: 768px) {
                  width: 33%;
                }

                .xp-title {
                    margin: 0;
                }
                .xp-place {
                    font-style: italic;
                }
            }
        }
    }

    .flex-container {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-evenly;
            width: 77%;
            margin-top: 40px;
        }
    }

    h3 {
        color: #80cbc4;
        font-size: 24px;
    }

    h5, p {
        color: white;
    }

    .flex-experience {
        flex-direction: column;

        .experience-item {
            margin: 0 auto;

            @media (min-width: 768px) {
                width: 50%;
            }
        }

        .item-skills {
            font-style: italic;
        }
    }

    .flex-skill-item {
        flex-direction: column;
    }

    .flex-skills {
        h3 {
            margin: 0;
            color: white;
        }

        .core-skills, .added-skills {
            @media (min-width: 768px) {
                width: 50%;
            }
        }

        .added-skills {
            margin-top: 0;

            .additionnal-skills {
                margin-bottom: 0;
            }

            .languages-skills {
                margin-top: 0;
            }
        }

        .core-skills {
            .label {
                width: 74%;
                font-size: 14px;
                margin: 0 auto;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    font-size: 18px;
                    width: auto;
                }
            }
        }

        .skill {
            h5, .progress {
                display: inline-block;
            }

            h5 {
                text-align: left;
                width: 100%;
                margin: 0;
                font-size: 20px;
                font-weight: lighter;
            }

            .progress {
                box-shadow: none;
                position: relative;
                display: block;
                width: 100%;
                height: 20px;
                overflow: hidden;
                margin-bottom: 1rem;
                background-color: #eee;
                border-radius: 5px;

                .progress-bar {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: repeating-linear-gradient(60deg, #80cbc4, #3a667b, #80cbc4);
                    -webkit-animation: 50s progressbar infinite linear;
                    -moz-animation: 50s progressbar infinite linear;
                    -o-animation: 50s progressbar infinite linear;
                    -ms-animation: 10s progressbar infinite linear;
                    animation: 50s progressbar infinite linear;
                    border-radius: 5px;

                    &.progress-98 {
                        width: 98%;
                    }
                    &.progress-95 {
                        width: 95%;
                    }
                    &.progress-80 {
                        width: 80%;
                    }
                    &.progress-60 {
                        width: 60%;
                    }
                    &.progress-50 {
                        width: 50%;
                    }
                    &.progress-30 {
                        width: 30%;
                    }
                    &.progress-20 {
                        width: 20%;
                    }

                    p {
                        position: absolute;
                        text-align: right;
                        right: 10px;
                        width: 100%;
                        top: -22px;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}